<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.anythink.sdk">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--    <uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <application>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <!-- source file: nonchina_jcenter/network_sdk/pangle/7.2.0.6/AndroidManifest.xml -->
        <!-- source file: nonchina_jcenter/network_sdk/admob/24.4.0/AndroidManifest.xml -->
        <!--google-->
        <meta-data android:name="com.google.android.gms.ads.AD_MANAGER_APP" android:value="true"/>

    </application>
</manifest>
